.strip_color {
  background-color: #6d7fcc;
  height: 3px;
}
body {
  letter-spacing: .03em;
  margin: 0;
  background-color: #6d7fcc;
}

.site {
  margin: 8px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1rem;
}

.content {
  background: gainsboro;
  overflow: hidden;
  border-bottom-left-radius: .3em;
  border-bottom-right-radius: .3em;

  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.1);
}
.first {
  background-color: white;
  border-top: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
}

.content::before {
  content: "";
  display: block;
}

.first::before {
  content: "";
  padding-bottom: 0;
  display: block;
}

.personal_logo {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: block;
  object-fit: cover;
}

.first.personal_logo {
  height: 60%;
  width: 100%;
  overflow: hidden;
  object-fit: fill;
}

.last.personal_logo {
  height: 100%;
  width: 100%;
  overflow: hidden;
  object-fit: fill;
}


.personal_links {
  overflow: auto;
  border-top: 1px solid gainsboro;
  background-color: white;
  width: 100%;
  border-top-left-radius: .5em;
  border-top-right-radius: .5em;
}


.nav_links {
  overflow: auto;
  text-align: center;
  padding: .3em;
}



.link {
  font-size: 1.1em;
  text-decoration: none;
  padding: .3em 0;
}



.link_1 {
  overflow: auto;
  color: #6d7fcc;
  padding: .5em 1em;
}

.link_2 {
  overflow: auto;
  color: #6d7fcc;
  padding: .5em 1em;
}

.action_link {
  text-align: center; 
  display: block;
  padding: 1em .5em;
  background-color: #6d7fcc;
  color: white;
  text-decoration: none;
}

.get_started {
  text-align: center;
  vertical-align: middle;
  line-height: 90px;
}



/* Coming Soon! */

.full-page-bg {
  background-color: #6d7fcc;
  position: absolute;
  letter-spacing: .04em;
  top: 0; right: 0; bottom: 0; left: 0;
}

h1 {
  font-size: 2em;
}

.temp_content {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  color: #6d7fcc;
  background-color: white;
  padding: 3em;
  border-radius: .5em;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.1);
}

.promote-me {
  text-decoration: none;
  color: white;
  background-color: #6d7fcc;
  padding: .7em 1.5em;
  border-radius: .5em;
  margin-top: 2em;
  display: inline-block;
}

.promo-title {
  font-size: 2.5em;
}

.promo-text {
  font-size: 1.1em;
}

.footer {
  position: absolute;
  bottom: 10px;
  text-align: center;
  margin-right: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1.1em;
}